/* Floar clear fix */

@import "shim";
.clobber();
.clearfix {
    &:before {
        display: block;
        zoom: 1;
    }
    &:after {
        content: " ";
        display: table;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.layout {
    #layout > .flexible();
    &.wrap {
        #layout > .wrap();
    }
    &.oritontal {
        #layout > .flow();
    }
    &.vertical {
        #layout > .flow(column);
    }
    &.inline {
        #layout > .flexible(inline);
    }
}
.flex{
    &-d {
        #layout > .flex();
    }
    &-none {
        #layout > .flex(0, 0, auto);
    }
    &-010 {
        #layout > .flex(0, 1, 0.000001px);
    }
}

#text-color {
    .primary-text(light) {
        color: fade(#ffffff, 100%);
    }
    .primary-text(darker) {
        color: fade(#000000, 87%);
    }
    .secondary-text(light) {
        color: fade(#ffffff, 70%);
    }
    .secondary-text(darker) {
        color: fade(#000000, 54%);
    }
    .disabled-text(light) {
        color: fade(#ffffff, 50%);
    }
    .disabled-text(darker) {
        color: fade(#000000, 38%);
    }
}
#ratio{
	@aspect-ratio: 16/9, 3/2, 4/3, 1/1, 3/4, 2/3;
	.width(@i,@h){
		width: extract(@aspect-ratio,@i)*@h;
	}
	.heigth(@i,@w){
		height: @w/extract(@aspect-ratio,@i);
	}
}

.btn {
    // Help function //
    @alph : 0.15;
    @x: 0;
    @y: 2px;
    @b: 2px;
    @s: 0px;
    .level(@z) when(@z=-1){
    		box-shadow+: inset 0px 2px 9px 0px rgba(0, 0, 0, 0.15);
    		box-shadow+: inset 0px 0px 11px -4px rgba(0, 0, 0, 0.45);
    }
    .level(@z) when(@z=1) {
        box-shadow+: @x @y @b @s rgba(0, 0, 0, @alph);
        box-shadow+: @x @y+-1 @b*2 @s rgba(0, 0, 0, @alph - 0.02);
        box-shadow+: @x @y+1 @b+-1 @s+-2 rgba(0, 0, 0, @alph + 0.05);
    }
    .level(@z) when(@z=2) {
        box-shadow+: @x @y*2 @b*3 @s rgba(0, 0, 0, @alph - 0.02);
        box-shadow+: @x @y+-1 @b*7 @s rgba(0, 0, 0, @alph);
        box-shadow+: @x @y @b*1.5 @s+-1 rgba(0, 0, 0, @alph + 0.05);
    }
    .level(@z) when(@z=3) {
        box-shadow+: @x @y*3 @b*5 @s rgba(0, 0, 0, @alph);
        box-shadow+: @x @y+-1 @b*9 @s rgba(0, 0, 0, @alph - 0.02);
        box-shadow+: @x @y+1 @b*2.5 @s+-1 rgba(0, 0, 0, @alph);
    }
    .level(@z) when(@z=4) {
        box-shadow+: @x @y*4 @b*5 @s+1 rgba(0, 0, 0, @alph);
        box-shadow+: @x @y*1.5 @b*7 @s+2 rgba(0, 0, 0, @alph - 0.02);
        box-shadow+: @x @y*2.5 @b*2.5 @s+-3 rgba(0, 0, 0, @alph+0.25);
    }
    .level(@z) when(default()) {
        box-shadow: none;
    }
    // end:::~
    &[class~="animated"] {
        .transition(box-shadow, 0.0s, 0.28s, cubic-beizer(0.4, 0, 0.2, 1));
    }
    &[class~="z0"] {
        .level(0);
    }
    &[class~="z1"] {
        .level(1);
    }
    &[class~="z2"] {
        .level(2);
    }
    &[class~="z3"] {
        .level(3);
    }
    &[class~="z4"] {
        .level(4);
    }
    &[class~="disabled"] {
        background-color: fade(#999999, 40%);
        #text-color > .disabled-text(darker);
        pointer-events: none;
        cursor: auto;
    }
    &-rb:extend(.btn) {
        &[class~="disabled"]:extend(.btn[class~="disabled"]) {}
        &[class~="z0"]:extend(.btn[class~="z0"]) {}
        &[class~="z1"]:extend(.btn[class~="z1"]) {}
        &[class~="z2"]:extend(.btn[class~="z2"]) {}
        &[class~="z3"]:extend(.btn[class~="z3"]) {}
        &[class~="z4"]:extend(.btn[class~="z4"]) {}
        &[class~="animated"]:extend(.btn[class~="animated"]) {}
        margin: 8px;
    }
    display: inline-block;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    min-width: 5.12em;
    font: inherit;
    padding: 0.5em 0.67em;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    .user-select(none);
    z-index: 0;
}

.icon {
    display: inline-block;
    fill: currentcolor;
    position: relative;
    vertical-align: middle;
    &.icon-material {
        width: 24px;
        height: 24px;
    }
}
