<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>Ajax Test</title>
  </head>
  <body>
    <form action="#">
      <button type="submit" id="helloButton">Say Hello</button>
    </form>
    <div id="response"> &nbsp;</div>

    <h3>How do you fill about javascript </h3>
    <form action="#" method="get" id="ratingForm">
      <em>Hate it -</em>[
      <input type="radio" name="rating" value="1"/> 1
      <input type="radio" name="rating" value="2"/> 2
      <input type="radio" name="rating" value="3"/> 3
      <input type="radio" name="rating" value="4"/> 4
      <input type="radio" name="rating" value="5"/> 5
      ]<em>Love it</em>
    </form>
    <div id="result" style="display:none;"> &nbsp;</div>    
    <script type="text/javascript" src="script/ajax.js"></script>
  </body>
</html
