<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml" ng-app="gemStore">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>JavaScript Test + Angular</title>
    <link rel="shortcut icon" href="htmlicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style/spinny.css" media="screen"/>
  </head>
  <body ng-controller="StoreController as store">
    <div  ng-repeat="product in store.products | orderBy:'price'" ng-hide="product.soldOut">
      <h1>{{product.name}}</h1>
      <h2>{{product.price | currency}}</h2>
      <p><em>{{product.description}}</em></p>
      <div>
        <img ng-src="{{product.images[0]}}"/>
      </div>
      <button ng-show="product.canPurchase"> Add to Chart </button>
    </div>
    <form action="processorder.php" method="post">
      <table border="0">
        <tr bgcolor="#ccc">
          <td width="150">Item</td>
          <td width="15">Quantity</td>
        </tr>
        <tr>
          <td>Tires</td>
          <td align="center">
            <label for="tires">
              <input type="text" id="tires" name="tireqty" size="3"
              maxlength="3"/>
            </label>
          </td>
        </tr>
        <tr>
          <td>Oil</td>
          <td align="center">
            <label for="oil">
              <input type="text" id="oil" name="oilqty" size="3"
              maxlength="3"/>
            </label>
          </td>
        </tr>
        <tr>
          <td>Spark Plugs</td>
          <td align="center">
            <label for="spark">
              <input type="text" id="spark" name="sparkqty" size="3"
              maxlength="3"/>
            </label>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button type="submit">Submit Order</button>
          </td>
        </tr>
      </table>

    </form>
    <div id="spinner" class="container" style="display:block;"> <!--The container -->
      <div class="spinner-frame"> <!--The background-->
        <div class="spinner-cover"></div> <!--The Foreground-->
        <div class="spinner-bar"></div> <!-- Spinny thing-->
      </div>
    </div>
    <script type="text/javascript" src="script/angular/angular.min.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
    <script type="text/javascript" src="script/pattern.js"></script>
  </body>
