<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HTML Learning | Index Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="RobotoDraft.css">
  </head>

  <!-- Body of the page -->
  <body class="section-htlm-test">

    <!-- Header Mani Block -->
    <header>
      <div class="header-wrapper">
	  <div class="header-title">
	    <span> LaTex Class</span>
	  </div>
      </div>
    </header>

    <!-- Fixed Left Side Nav Bar -->
    <div id="side-nav">
      <div class="side-nav-wrapper">
	<span id="logo">
          <img src="ddmLogo.svg" alt="La Sapienza Logo">
	</span>
	<nav>
	  <!-- Begin TabList -->
	  <dl role="tablist">
	    
	    <!-- First Tab --> 
	    <dt id="tab1" tabindex="0" role="tab" aria-controls="pannel1" aria-expanded="false"> dmCV Template </dt>
	    <div id="pannel1" class="pannel" role="tabpannel" aria-labeledby="tab1" style="overflow:hidden;">
	      <dd >
	  	<a class="nav_selected" href="#">Introduction</a>
	      </dd>
	    </div>

	 <!-- Second Tab -->   
	    <dt id="tab1" tabindex="0" role="tab" aria-controls="pannel2" aria-expanded="false"> What is dmCV? </dt>
	    <div id="pannel2" class="pannel" role="tabpannel" aria-labeledby="tab2" style="overflow:hidden;">
	      <dd>
	  	<a class="nav_selected"
	  	   href="#"> Name Origin</a>
	  	<a class="nav_selected"
	  	   href="#"> Programming
	  	  Language Used</a>
	  	<a class="nav_selected"
	  	   href="#"> Why did you made it?</a>
	      </dd>
	    </div>

	    <!-- Third Tab -->
	    <dt id="tab3" tabindex="0" role="tab"
	    aria-controls="pannel3" aria-expanded="false"> Style </dt>
	    <div id="pannel3" class="pannel" role="tabpannel" aria-labeledby="tab3" style="overflow:hidden;">
	      <dd>
	  	    <a class="nav_selected" href="#">Layout Concepts</a>
	      </dd>
	    </div>
	    
	    <!-- Forth -->
	    <dt id="tab4" tabindex="0" role="tab"
	    aria-controls="pannel4" aria-expanded="false"> How Use It</dt>
	    <div id="pannel4" class="pannel" role="tabpannel" aria-labeledby="tab4" style="overflow:hidden;">
	      <dd >
		<a class="nav_selected" href="#">Options</a>	
	  	<a class="nav_selected" href="#">Commands</a>
		<a class="nav_selected" href="#">Enviroments</a>
	      </dd>
	    </div>

	  </dl>
	  <!-- End Tab -->
	</nav>
	<div class="legal">
	  <p class="license">GPL 2.0</p>
	  <a href="http://opensource.org/licenses/GPL-2.0">General Public License</a>
	</div>
      </div>
    </div>
    <p>Welcome to my web page.....!!Don't go lost</p>
    <!-- Insert something about me -->
    <h2>My Hobbies</h2>
    <p>You can find info about my hobbies</p>
    <div class="boldText"> 
      <ul>
	<li>Playing Football</li>
	<li>Playing Guitar</li>
	<li>Mountain Biking</li>
      </ul>
    </div>
    <h2>Programming Skills</h2>
    <div>
      <table>
	<tr>
	  <th>Language</th>
	  <th>Level</th>
	</tr>
	<tr>
	  <td>C</td>
	  <td>Medium</td>
	</tr>
	<tr>
	  <td>C++</td>
	  <td>Base</td>
	</tr>
	<tr>
	  <td>Java</td>
	  <td>Base</td>
	</tr>
	<tr>
	  <td>Html</td>
	  <td>Minimum</td>
	</tr>
	<tr>
	  <td>JavaScript</td>
	  <td>Minimum</td>
	</tr>
	<tr>
	  <td>PHP</td>
	  <td>Minimum</td>
	</tr>
      </table>
    </div>
    <h2>Strange Image</h2>
    <p>
      <img src="photoes.png" alt="screenshot"></p>
    <footer>
      <div class="footer-grid">
	<p> Copiright @ 2014 dmike </p>
      </div>
    </footer>
  </body>
</html>
