<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HTML Learning | Index Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="RobotoDraft.css">
  </head>

  <!-- Body of the page -->
  <body class="section-htlm-test">

    <!-- Header Mani Block -->
    <header>
      <div class="header-wrapper">
	  <div class="header-title">
	    <span> LaTex Class</span>
	  </div>
      </div>
    </header>

    <!-- Fixed Left Side Nav Bar -->
    <div id="side-nav">
      <div class="side-nav-wrapper">
	<span id="logo">
          <img src="ddmLogo.svg" alt="La Sapienza Logo">
	</span>
	<nav>
	  <!-- Begin TabList -->
	  <dl role="tablist">
	    
	    <!-- First Tab --> 
	    <dt id="tab1" tabindex="0" role="tab" aria-controls="pannel1" aria-expanded="false"> dmCV Template </dt>
	    <div id="pannel1" class="pannel" role="tabpannel" aria-labeledby="tab1" style="overflow:hidden;">
	      <dd >
	  	<a class="nav_selected" href="#">Introduction</a>
	      </dd>
	    </div>

	 <!-- Second Tab -->   
	    <dt id="tab1" tabindex="0" role="tab" aria-controls="pannel2" aria-expanded="false"> What is dmCV? </dt>
	    <div id="pannel2" class="pannel" role="tabpannel" aria-labeledby="tab2" style="overflow:hidden;">
	      <dd>
	  	<a class="nav_selected"
	  	   href="#"> Name Origin</a>
	  	<a class="nav_selected"
	  	   href="#"> Programming
	  	  Language Used</a>
	  	<a class="nav_selected"
	  	   href="#"> Why did you made it?</a>
	      </dd>
	    </div>

	    <!-- Third Tab -->
	    <dt id="tab3" tabindex="0" role="tab"
	    aria-controls="pannel3" aria-expanded="false"> Style </dt>
	    <div id="pannel3" class="pannel" role="tabpannel" aria-labeledby="tab3" style="overflow:hidden;">
	      <dd>
	  	    <a class="nav_selected" href="#">Layout Concepts</a>
	      </dd>
	    </div>
	    
	    <!-- Forth -->
	    <dt id="tab4" tabindex="0" role="tab"
	    aria-controls="pannel4" aria-expanded="false"> How Use It</dt>
	    <div id="pannel4" class="pannel" role="tabpannel" aria-labeledby="tab4" style="overflow:hidden;">
	      <dd >
		<a class="nav_selected" href="#">Options</a>	
	  	<a class="nav_selected" href="#">Commands</a>
		<a class="nav_selected" href="#">Enviroments</a>
	      </dd>
	    </div>

	  </dl>
	  <!-- End Tab -->
	</nav>
	<div class="legal">
	  <p class="license">GPL 2.0</p>
	  <a href="http://opensource.org/licenses/GPL-2.0">General Public License</a>
	</div>
      </div>
    </div>

    <!-- Chapter Content -->
    <div id="grid-cont">
      <section class="">
	 &nbsp
      </section>
    </div>
    <!-- Footer -->
    <footer>
      <div class="footer-grid">
	<div class="footer-L">&nbsp;</div>
	<div class="footer-grid-L"></div>
	<div class="footer-R">&nbsp;</div>
	<div class="footer-grid-R">
	  <a class="footer-text" href="#">
	    <img class="arrow-L" alt src="arrow.svg">
	    <span>Next</span>
	    <div>
	      What is dmCV ?
	    </div>
	  </a>
	</div>
      </div>
    </footer>
  </body>
</html>
