html{
    font-family: "RobotoDraft","Roboto",sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100;

}
body{
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    background-color: #fff;
}
.boldText{
    font-weight: bold;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }
h1{
    font-size: 2em;
    margin: .67em 0;
}
.addToBorder{
    border: 1px solid #0000FF;
}

header{
    height: 256px;
    padding: 115px 16px 0;
    background-color: #C13B3B;
}

.header-wrapper {
    padding-left: 240px;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrapper .header-title{
    color:#fff;
    font-size:56px;
    font-weight:400;
    line-height:1.5;
    margin:0 auto;
    overflow:hidden;
    width:1160px;
    white-space:nowrap;
 }
.header-wrapper .header-title span {
	float: left;
}
ul {
	list-style-type: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
}


button {
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-transform: none;
    padding: 1px 6px;
}

.clubSandwich-button{
    background: transparent center center no-repeat;
    background-size: 24px 24px;
    border: 0;
    display: none;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    top: 8px;
    width: 48px;
    z-index:2;
    position:absolute;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clubSandwich-button {
    background-image: url("clubSandwich2.svg");
    left: 12px;
}

footer{
    clear: left;
    height: 96px;
    position: relative;
    width: 100%;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .footer-grid{
	width: 1160px;
	height: 100%;
	margin:auto;
	z-index: 20;
}

footer .footer-L {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
    width: 50.1%;
    z-index: -1;
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

footer, .footer-L , .footer-R{
    background-color: #C13B3B;
}
footer .footer-grid .footer-grid-L {
    height: 100%;
    float: left;
    width: 50%;
}

footer .footer-R {
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
    transform: translateX(120px);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .footer-grid .footer-grid-R {
    height: 100%;
    float: right;
    text-align: right;
    width: 50%;
}
footer .footer-grid .footer-grid-R .footer-text {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    padding-top: 24px;
    line-height: 24px;
    width: 100%;
    color: #fff;
}

footer .footer-grid .footer-grid-R .footer-text span {
    font-size:15px;
    line-height: 18px;
    margin-bottom: 1px;
    color: rgba(255,255,255,0.55);
}

footer .footer-grid .footer-grid-R .footer-text img {
    float: right;
    margin-left: 10px;
    padding-top: 23px;
    width: 24px;
}
img {
    margin: 0;
    max-widht: 100%;
    border: 0;
}

a:active, a:hover {
    outline: 0;
}

#side-nav {
    bottom: 0;
    display:block;
    width: 240px;
    left: 0;
    top: 0;
    color: #333;
    background: #fff;
    box-shadow:0.6px 0px 5px rgba(0,0,0,26);
    border-right: 1px solid rgba(0,0,0,0.14);
    z-index: 1;
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.side-nav-wrapper {
    min-height: 100%;
    padding-bottom: 96px;
    position: relative;
}

#side-nav #logo{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    height: 64px;
    position: relative;
    margin: auto;
    padding: 12px 24px 10px 24px; 
}

#side-nav nav{
    font-size: 13px;
    padding: 12px 0 10px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
#side-nav nav dt:focus{
	background-color:#eee;
	outline: 0;
}
/*#side-nav nav dt:focus + [role="tabpannel"]{
	display: block;
	visibility:visible;
}*/
#side-nav nav dt:focus + [role="tabpannel"]>dd{
	display: block;
	visibility:visible;
	margin-top: 0px;
}

#side-nav nav .pannel  dd {
    margin-top: -99px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: margin-top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
/*.pannel{
	display:none;
	visibility: hidden;
}*/
#side-nav nav dl dt {
	border-left: 2px solid transparent;
	color: #333;
	font-weight: 700;
	margin-top: 0;
	padding: 15px 0 15px 22px;
	cursor: pointer;
}

dl{
	line-height: 1em;
}
dt{
	display: block;
}
dl dd {
    margin:0;
}
#side-nav nav a.nav_selected{
	color: #C13B3B;
	font-weight:500;
	letter-spacing: 0.1px;
}
#side-nav nav a{
	border-left: 2px solid transparent;
	display: block;
	padding: 10px 24px 10px 46px;
	white-space: nowrap;
}

a{
    text-decoration: none;
    background: transparent;
    cursor: auto;
}

.side-nav-wrapper .legal {
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    color: #212121;
    font-size: 13px;
    height: 96px;
    line-height: 24px;
    padding:24px;
    position: absolute;
    width: 100%;
}
.side-nav-wrapper .license{
    margin: 0;
}
html,body{
    backgroung-color: #f9f9f9;
    color: #212121;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*{
    -moz-box-sizing: preserv-3d;
    box-sizing:border-box;
}

#grid-cont{
    background: #f9f9f9;
    float: left;
    height: 100%;
    padding-bottom: 100px;
    padding-left: 240px;
    width: 100%;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#grid-cont .grid_outer {
    margin: auto;
    width: 1160px;
}

#grid-cont .chapter {
    padding-top: 80px;
}

body .chapter .chapter-title,body .chapter .article-title{
    color: #C13B3B;
}
.chapter{
    font-family: "RobotoDraft","Roboto",sans-serif;
    -webkit-font-smoothing: antialiased;
}
#grid-cont .grid_outer::before {
    content: " ";
    display: table;
}
#grid-cont .grid_outer::after {
    clear: both;
    content: " ";
    display: table;
}

.chapter .chapter-title {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: "RobotoDraft", "Roboto", sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.chapter .chapter-intro{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 0 38px 40px 0;
    width: 960px;
}
.chapter .article::before{
    content: " ";
    display: block;
    height: 48px;
    margin-top: 0;
    visibility: hidden;
}

.chapter .article:nth-of-type(1) .article-title{
    border-top: none;
    padding-top: 48px;
 }

.chapter .article-title{
    border-top: 1px solid rgba(0,0,0,0.12);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 80px;
}

.module-list, .module-list section:last-child {
    margin-bottom: 0;
    width: 100%;
}

.moduleA1{
    border: none;
    display: inline-block;
    margin: 0 auto 40px;
    padding: 0;
    padding-bottom:40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

.moduleA1 div.module-body{
    margin-bottom: 0;
    width: 760px;
}

.moduleA1 .module-body{
    color:#212121;
    display: inline-block;
    float: left;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    line-height: 24px;
    margin-bottom:30px;
    padding-bottom: 0;
    width: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chapter .chapter-toc{
    border-left: 5px solid;
    border-left-color: #f3b4b4;
    padding-left: 20px;
}

.chapter .chapter-toc h1 {
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 12px;
    font-weight: 400;
    color: #757575;
}

.chapter .chapter-toc ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0px;
}
.chapter .chapter-toc li {
    font-size: 20px;
    line-height: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.chapter a{
    color: #C13B3B;
}
@media screen and (max-width: 1479px){
    #side-nav {
	visibility: hidden;
	-webkit-transform: translateX(-240px);
	-moz-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	transform: translateX(-240px);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}
    .header-wrapper {
	padding-left: 0;
    }
    .clubSandwich-button{
	display: block;
	visibility:visible;
    }
    .clubSandwich-button:focus{
	border-radius: 50%;
	box-shadow: 3px 2px rgba(0,0,0,0.26);
	border: 0;
	outline: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
    }
    button::-moz-focus-inner{
	border: none;
    }
    #grid-cont{
	padding-left: 0;
	}
    footer{
	padding-left: 0;
	z-index: 0;
    }
    footer .footer-grid{
	width: 1160px;
    }
    footer .footer-L {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
    }
    footer .footer-R {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
    }
    .moduleA1{
	width:1160px;
    }
}

@media screen and (max-width:1240px){
    .header-wrapper .header-title{
	color:#fff;
	width:760px;
    }
    footer .footer-grid{
	width:760px;
    }
    #grid-cont .grid_outer {
	width: 760px;
    }
    .chapter .chapter-intro{
	width: 760px;
    }
    .moduleA1 div.module-body{
	width: 560px;
	font-size: 14px;
    }
}

@media screen and (max-width:760px){
    header{
	height: 156px;
	padding: 85px 16px 0;
    }
    .header-wrapper .header-title{
	color:#fff;
	font-size: 28px;
	line-height: 1.2;
	margin-left: 10px;
	width:360px;
    }
    footer .footer-grid{
	position: relative;
	width: 100%;
    }
    footer .footer-L {
	height: 96px;
	width: 56px;
	z-index: 1;
    }
    footer .footer-grid .footer-grid-L {
	left: 16px;
	position: absolute;
	z-index: 1;
    }
    footer .footer-R {
	height: 96px;
	width: 100%;
	z-index: 0;
    }
    footer .footer-grid .footer-grid-R {
	right: 10px;
	position: absolute;
	width: 75%;
    }
    #grid-cont {
	padding-bottom: 0;
    }
    #grid-cont .grid_outer {
	width: 360px;
    }
    #grid-cont .chapter {
	padding-top: 60px;
    }
    .chapter .chapter-title{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 42px;
    }
    .chapter .chapter-intro{
	font-size: 20px;
	padding-right: 0;
	padding-bottom: 50px;
	width: 360px;
    }
    .chapter .chapter-toc{
	display: none;
    }
    .chapter .article:nth-of-type(1) .article-title{
	border-top: 1px solid rgba(0,0,0,0.12);
	padding-top: 15px;
    }
    .chapter .article-title {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	padding-top: 15px;
    }
    .moduleA1 div.module-body{
	width: 360px;
	margin-top: 40px;
    }
    .clubSandwich-button {
	left: 4px;
	top: 4px;
    }
}

@media screen and (max-width: 360px){
    .header-wrapper .header-title{
	color:#fff;
	width:100%;
    }
    #grid-cont .grid_outer {
	width: 100%;
    }
    .chapter .chapter-title{
	margin-bottom: 54px;
	line-height: 24px;
	padding-left: 10px;
    }
    .chapter .chapter-intro{
	padding-bottom: 60px;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
    }
    .chapter .article:nth-of-type(1) .article-title{
	border-top: 1px solid rgba(0,0,0,0.12);
	padding-top: 15px;
    }
    .chapter .article-title {
	line-height: 20px;
	padding-bottom: 8px;
	padding-left: 10px;
    }
    .moduleA1 div.module-body{
	width: 100%;
	margin-top: 40px;
	padding-left:10px;
	padding-right:10px;
    }
}
@medi screen and (min-width:1480px){
    .clubSandwich-button {
	display: none;
    }
}