html{
    font-family: "RobotoDraft","Roboto",sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100;

}
body{
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    background-color: #fff;
}
.boldText{
    font-weight: bold;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }
h1{
    font-size: 2em;
    margin: .67em 0;
}
.addToBorder{
    border: 1px solid #0000FF;
}

header{
    height: 256px;
    padding: 115px 16px 0;
    background-color: #FF47B6; /*#C13B3B; /*#00bcd4;*/
}

.header-wrapper {
    padding-left: 240px;
    background-color: #FF47B6; /*#C13B3B; /*#00bcd4;*/
}

.header-wrapper .header-title{
    color:#fff;
    font-size:56px;
    font-weight:400;
    line-height:1.5;
    margin:0 auto;
    overflow:hidden;
    width:1160px;
    white-space:nowrap;
 }
.header-wrapper .header-title span {
	float: left;
}
ul {
	list-style-type: none;
}
footer .footer-grid{
	clear:left;
	background-color: #fff;
	text-align: left;
	padding: 20px;
	height: 1%;
	font-size: 0.75em;
}
#side-nav {
    bottom: 0;
    display:block;
    width: 240px;
    left: 0;
    top: 0;
    color: #333;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,0.14);
    z-index: 1;
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.side-nav-wrapper {
    min-height: 100%;
    padding-bottom: 96px;
    position: relative;
}

/*#side-nav:hover{
    -webkit-transform: translateX-(240px);
    -moz-transform: translateX-(240px);
    -ms-transform: translateX-(240px);
    transform: translateX(-240px);
}*/

#side-nav #logo{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    height: 64px;
    position: relative;
    margin: auto;
    padding: 12px 24px 10px 24px; 
}

#side-nav nav{
    font-size: 13px;
    padding: 12px 0 10px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
#side-nav nav dt:focus{
	background-color:#eee;
	outline: 0;
}
/*#side-nav nav dt:focus + [role="tabpannel"]{
	display: block;
	visibility:visible;
}*/
#side-nav nav dt:focus + [role="tabpannel"]>dd{
	display: block;
	visibility:visible;
	margin-top: 0px;
}

#side-nav nav .pannel  dd {
    margin-top: -99px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-property: margin-top;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
/*.pannel{
	display:none;
	visibility: hidden;
}*/
#side-nav nav dl dt {
	border-left: 2px solid transparent;
	color: #333;
	font-weight: 700;
	margin-top: 0;
	padding: 15px 0 15px 22px;
	cursor: pointer;
}

dl{
	line-height: 1em;
}
dt{
	display: block;
}
dl dd {
    margin:0;
}
#side-nav nav a.nav_selected{
	color: #C13B3B;
	font-weight:500;
	letter-spacing: 0.1px;
}
#side-nav nav a{
	border-left: 2px solid transparent;
	display: block;
	padding: 10px 24px 10px 46px;
	white-space: nowrap;
}

a{
    text-decoration: none;
    background: transparent;
    cursor: auto;
}

.side-nav-wrapper .legal {
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    color: #212121;
    font-size: 13px;
    height: 96px;
    line-height: 24px;
    padding:24px;
    position: absolute;
    width: 100%;
}
.side-nav-wrapper .license{
    margin: 0;
}
html,body{
    backgroung-color: #f9f9f9;
    color: #212121;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*{
    -moz-box-sizing: preserv-3d;
    box-sizing:border-box;
}