<!DOCTYPE HTML>
<html>

<head>
        <meta charset="utf-8" />
        <title>Example of XHR </title>
</head>

<body>
        <section>
                <h2>Login Form</h2>
                <form action="javascript:void(0);" enctype="application/x-www-form-urlencoded" name="requestForm">
                        <p>
                                <label for="username">User Name:</label>
                                <input type="text" name="username" id="username" />
                        </p>
                        <p>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" />
                        </p>
                        <button type="submit" name="requestButton">Login</button>
                </form>
        </section>
        <div id="responseOutput" style="display:none;"></div>
        <script type="text/javascript" lang="javascript" src="min-instance.js"></script>
        <script type "text/javascript" lang="javascript" src="script/escapeURIComponent.js"></script>
        <script type="text/javascript" lang="javascript">
                inserMainScript("script/createXHR.js", function () {
                        inserMainScript("script/exploreXHR.js",
                                function () {})
                });
        </script>
</body>

</html>
