/* Floar clear fix */
/*
 * Try to normalize broswer css differencies
 */
/* Display Flex  Cross Broswer */
html,
body {
  overflow-x: hidden;
}
body {
  overflow: hidden;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a:hover,
a:active {
  outline: 0;
}
a:active {
  background-color: transparent;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:before {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: table;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout {
  display: flex;
  display: -weblit-flex;
}
.layout.wrap {
  flex-wrap: wrap;
  -webkit-wrap: wrap;
}
.layout.oritontal {
  flex-flow: row;
  -webkit-flow: row;
}
.layout.vertical {
  flex-flow: column;
  -webkit-flow: column;
}
.layout.inline {
  display: inline-flex;
  display: -webkit-inline-flex;
}
.layout.relative {
  position: relative;
}
.flex-d {
  flex: 0 1 auto;
  -weblit-flex: 0 1 auto;
}
.flex-none {
  flex: 0 0 auto;
  -weblit-flex: 0 0 auto;
}
.flex-010 {
  flex: 0 1 0.000001px;
  -weblit-flex: 0 1 0.000001px;
}
.flex-110 {
  flex: 1 1 0.000001px;
  -weblit-flex: 1 1 0.000001px;
}
.clickable {
  padding: 8px;
  background-color: inherit;
  -webkit-transition: background-color 0s 0.28s cubic-beizer(0.4, 0, 0.2, 1);
  transition: background-color 0s 0.28s cubic-beizer(0.4, 0, 0.2, 1);
}
.clickable:hover {
  background-color: #ccc;
}
.fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn,
.btn-rb {
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 5.12em;
  font: inherit;
  padding: 0.5em 0.67em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}
.btn[class~="animated"],
.btn-rb[class~="animated"] {
  -webkit-transition: box-shadow 0s 0.28s cubic-beizer(0.4, 0, 0.2, 1);
  transition: box-shadow 0s 0.28s cubic-beizer(0.4, 0, 0.2, 1);
}
.btn[class~="z0"],
.btn-rb[class~="z0"] {
  box-shadow: none;
}
.btn[class~="z1"],
.btn-rb[class~="z1"] {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15), 0 1px 4px 0px rgba(0, 0, 0, 0.13), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn[class~="z2"],
.btn-rb[class~="z2"] {
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.13), 0 1px 14px 0px rgba(0, 0, 0, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}
.btn[class~="z3"],
.btn-rb[class~="z3"] {
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.15), 0 1px 18px 0px rgba(0, 0, 0, 0.13), 0 3px 5px -1px rgba(0, 0, 0, 0.15);
}
.btn[class~="z4"],
.btn-rb[class~="z4"] {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.15), 0 3px 14px 2px rgba(0, 0, 0, 0.13), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
.btn[class~="disabled"],
.btn-rb[class~="disabled"] {
  background-color: rgba(153, 153, 153, 0.4);
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
  cursor: auto;
}
.btn[class~="z-1"],
.btn-rb[class~="z-1"]:hover {
  box-shadow: inset 0px 2px 9px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 11px -4px rgba(0, 0, 0, 0.45);
}
.btn-rb {
  margin: 8px;
}
.icon {
  display: inline-block;
  fill: currentcolor;
  position: relative;
  vertical-align: middle;
}
.icon.icon-material {
  width: 24px;
  height: 24px;
}
