/* Header*/
.header .title{
	margin: 0 auto;
		color: #fff;
	font-size: 20px;
}
.header{
	border-bottom: 1px solid #ccc;
	background-color: #607d8b;
}
/*END*/
/* Felx class */
.layout{
	display: flex;
	display: -webkit-flex;
}
.layout[class~="inline"]{
	display: inline-flex;
	display: -webkit-inline-flex;
}
.orizontal{
	flex-flow: row;
	-webkit-flex-flow: row;
}
.flex-auto{
	flex: auto;
	-webkit-flex :auto;
}
.vertical{
	flex-flow: column;
	-webkit-flex-flow: column;
}
.layout[class~="wrap"]{
	flex-wrap: wrap;
	-webkit-wrap:wrap;
}
.no-flex{
	flex: none;
	-webkit-flex:none;
}
.flex-img{
	width: 100%;
}
.flex-010{
	flex: 0 1 0.0001px;
	-webkit-flex:0 1 0.00001px;
}
.justify-around{
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
/*END*/
/*Dimension*/
.center{
	margin: 0 auto;
}
.half{
	width: 50%;
}
.separe{
	margin-top: 10px;
}
/*END*/

/*MENU*/
nav ul{
	list-style: none;
	margin: 0 0 6px 0;
	padding: 0;
}
nav ul li{
	font-size: 15px;
	color: #fff;
	line-height: 1.6em;
}
a{
	text-decoration: none;
	color: inherit;
}
a::-moz-focus-inner{
	border: 0;
	padding: 0;
}
/*END*/

/* Custom button*/
.button{
	display: inline-block;
	text-decoration: none;
	border: none;
	text-indent: -99999px;
	direction: ltr;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
}
.button:hover{
	box-shadow: 0 4px 10px -3px rgba(119, 130, 128, 0.35);
}
.circ{
	border-radius: 50%;
}
.arc{
	text-indent: 0;
	width: 34px;
	height: 34px;
	margin-right: 8px;
}
.cart{
	height: 54px;
	width: 100%;
	background: url(../img/cart.png) no-repeat center;
	background-size: 44px 44px;
	box-shadow: none;
}
.submit{
	width: 50px;
	height: 40px;
	border-radius: 30%;
	text-indent: 0;
	background: #607d8b;
	box-shadow: 0 1px 4px 2px rgba(0,0,0,0.25);
	color: #fff;
}
.button::-moz-focus-inner{
	border: 0;
	padding: 0;
}
/*END*/

/*Icon*/
.icon{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: url(../img/sprites-social.png) no-repeat;
}
.tw{
	background-position: -6px -6px;
}
.tw:hover{
	background-position: -6px -54px;	
}
.fb{
	background-position: -56px -6px;
}
.fb:hover{
	background-position: -56px -54px;
}
.gp{
	background-position: -106px -6px;
}
.gp:hover{
	background-position: -106px -54px;
}
/*END*/

/*IMG*/
img{
	width: 100%;
	height: 100%;
}
.item .image{
	width: 66%;
	height: auto;
}
/*end*/

/* Text decoration*/
.strike{
	text-decoration: line-through;
}
/* END*/

/*Footer*/
footer{
	display: block;
	width: 100%;
	background-color: #616161;
	margin-top: 10px;
	color: #fff;
}
.exspand-s{
	padding: 12px 24px;
}
/*END*/
/* Color*/
.background-eee{
	background:#eee;
}
/*end*/

/* Media Query*/
@media (min-width:768px) {
	.header .title{
		font-size: 36px;
		line-height: 1.2;
	}
	.item .image{
		height: 280px;
	}
}
@media (min-width: 1060px) {
	.item .image{
		height: 186px;
	}

}
